.tables table  tbody tr  td a ,
.tables table  tbody tr  td  span {
position: relative;
float: left;
padding: 6px 12px;
margin-left: -1px;
line-height: 1.42857143;
color: #15c377;
text-decoration: none;
background-color: #fff;
border: 1px solid #ddd;
}

.tables table > tbody > tr > td > span {
z-index: 3;
color: #fff;
cursor: default;
background-color: #15c377;
border-color: #15c377;
}

.tables table > tbody > tr > td:first-child > a,
.tables table > tbody > tr > td:first-child > span {
margin-left: 0;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}

.tables table > tbody > tr > td:last-child > a,
.tables table > tbody > tr > td:last-child > span {
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}

.tables table > tbody > tr > td > a:hover,
.tables  table > tbody > tr > td > span:hover,
.tables table > tbody > tr > td > a:focus,
.tables table > tbody > tr > td > span:focus {
z-index: 2;
color: #15c377;
background-color: #eee;
border-color: #ddd;
}