#content{
    max-width: 1630px;
    min-width: 999px;
    margin: 0 auto;
}
/* 导航条部分开始 */
.content-meun{
    height: 108px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-meun .meun-left {
    width: 200px;
    height: 68px;
}
.content-meun .meun-left a{
    display: inline-block;
    width: 50px;
    height: 100%;
    text-align: center;
    line-height: 100px;
    color: #212121;
    font-size: 14px;
    transition: all 0.3s;
}
.content-meun .meun-left a:nth-child(1){
    background: url("../img/index-content-img/s1.png") no-repeat center top;
}
.content-meun .meun-left a:nth-child(2){
    background: url("../img/index-content-img/s2-1.png") no-repeat center top;
}
.content-meun .meun-left a:nth-child(3){
    background: url("../img/index-content-img/s3.png") no-repeat center top;
}
.content-meun .meun-conter{
    height: 68px;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    min-width: 574px;
}
.content-meun .meun-conter span a{
    color: #212121;
    font-size: 14px;
    transition: all 0.3s;
    display: flex;
    line-height: 34px;
    align-items: center;
}
.content-meun .meun-conter span{
    display: inline-block;
    height: 34px;
    position: relative;
}
.content-meun .meun-conter span a em{
    font-style: normal;
    font-size: 12px;
    display: inline-block;
    background: #73c9e5;
    border-radius: 2px;
    color: #fff;
    margin-left: 1px;
    transform: scale(.85);
    width: 32px;
    text-align: center;
    line-height: normal !important;
}
.content-meun .meun-right{
    width: 200px;
    height: 68px;
    text-align: center;
}
.content-meun .meun-right a{
    display: inline-block;
    width: 30%;
    height: 100%;
    font-size: 14px;
    color: #212121;
    transition: all .3s;
}
.content-meun .meun-right a:nth-child(1){
    background: url("../img/index-content-img/s4.png") no-repeat center 90%;
    background-size: 40%;
}
.content-meun .meun-right a:nth-child(2){
    background: url("../img/index-content-img/s5.png") no-repeat center 90%;
    background-size: 40%;
}
.content-meun .meun-right a:nth-child(3){
    background: url("../img/index-content-img/s6.png") no-repeat center 90%;
    background-size: 40%;
}
.content-meun a:hover,.content-meun .meun-conter span a:hover{
    color: #73c9e5;
}
.content-meun .content-meun-line{
    margin: 0 16px;
    height: 48px;
    border-right: 1px solid #ccc;
}
.meun-conter-item{
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 120px;
    width: 110px;
    z-index: 99;
    box-shadow: 0 0 3px #ccc;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s 0 ease;
}
.meun-conter span:hover  .meun-conter-item{
    visibility: visible;
    opacity: 1;
    transition: all 0 0;
}
.meun-conter span .meun-conter-item .item-name{
    display: block;
    font-size: 12px;
    padding: 10px 10px;
    height: 20px;
    z-index: 99;
    line-height: normal;
}
.content-meun .meun-conter .min-vis{
    display: none;
}
@media all and (max-width:1140px){
    #content .content-meun .content-meun-line{
        margin: 0 8px;
    }
    .content-meun .meun-conter .min-vis{
        display: inline-block;
    }
    .content-meun .meun-conter .max-vis{
        display: none;
    }
    div.content-img-hot-left{
        width: 459px;
        height: 202px;
    }
    .content-img-hot div.content-img-hot-right{
        width: 550px !important;
        height: 202px;
    }
    .content-img-hot-right div.hot-video-img{
        width: 170px;
        height: 96px;
    }
    .content-img-hot-right div.hot-video-item{
        width: 170px;
        height: 96px;
    } 
    .content-img-hot-right .hot-video-item .video-info p.title{
        font-size: 14px;
        height: 36px !important;
        width: 90%;
        margin-bottom: 8px;
    }  
    .content-img-hot-right .hot-video-item .video-info p.userName,
    .content-img-hot-right .hot-video-item .video-info p.play{
        margin-top: 5px;
    }
}
/* 导航条部分结束 */
/* 轮播图与热门推荐开始 */
.content-img-hot{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.content-img-hot-left{
    position: relative;
    width: 600px;
    height: 242px;
    overflow: hidden;
    border-radius: 3px;
    background: #ccc;
}
.content-img-hot-left ul{
    width: 500%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    transition:all 0.4s ease;
}
.content-img-hot-left ul li{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}
.content-img-hot-left a.move{
    position: absolute;
    display: block;
    padding: 4px 8px;
    background: rgb(0, 0, 0,0.5);
    font-size: 12px;
    text-align: center;
    line-height: 15px;
    color: #fff;
    bottom: 44px;
    right: 12px;
    z-index: 11;
    display: none;
}
.content-img-hot-left:hover a.move{
    display: block;
}
.content-img-hot-left ul li a p{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px 12px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    background-color: rgba(0,0,0,.2);
    box-shadow: -2px -2px 2px rgb(0 0 0 / 10%);
}
.content-img-hot-left ul li a img{
    width: 100%;
}
.content-img-hot-left .left-trigger{
    position: absolute;
    right: 12px;
    bottom: 12px;
    z-index: 10;
}
.content-img-hot-left .left-trigger span{
    display: inline-block;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: #fff;
    vertical-align: middle;
    cursor: pointer;
    transition: all .2s;
}
.content-img-hot-left .left-trigger span:hover{
    border: 2px solid #fff;
    background-color: #73c9e5;
}
.oncheck{
    border-color: transparent !important;
    background-color: transparent !important;
    background-image: url(../img/selected.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.8);
}
/* 轮播图样式结束 */
/* 热门视频推荐开始 */
.content-img-hot .content-img-hot-right{
    width: 1070px;
    height: 242px;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}
.content-img-hot-right .hot-video-item{
    width: 206px;
    height: 116px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 5px;
}
.content-img-hot-right .hot-video-item img{
    width: 100%;
    height: 100%;
}
.content-img-hot-right .hot-video-item a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.content-img-hot-right .hot-video-item .video-info{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 70%;
    color: #fff;
    background: rgb(0, 0, 0,0.2);
    font-size: 12px;
    padding: 8px 10px 10px;
    transition: top 0.4s;
}
.content-img-hot-right .hot-video-item .video-info .title{
    font-size: 16px;
    height: 20px;
    width: 90%;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    font-weight: 500;
}
.content-img-hot-right .hot-video-item .video-info .userName span{
    display: inline-block;
    border: 1px solid #fff;
    padding: 0 5px;
    margin-right: 5px;
}
.content-img-hot-right .hot-video-item .video-info .userName,
.content-img-hot-right .hot-video-item .video-info .play{
    margin-top: 10px;
}
.hot-video-item:hover .video-info p.title{
    height: 45px;
}
.hot-video-item:hover .video-info{
    top: 0;
    background: rgba(0, 0, 0, 0.5) !important;
}
