*{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}
a
{
    color: #000;
}
#section
{
    width: 80%;
    margin: 0 auto;
}
.section-nav
{
    width: 120px;
    height: 400px;
    margin-left: 20px;
}
#section-nav {
    position: fixed;
}
#section-nav img
{
   width:25px;
   height:25px;
   border-radius:50%;
}
.section-nav span
{
    font-size: 23px;
    font-family: serif;
    color: #00a1d6;
    font-weight: bolder;
}
.section-nav ul li
{
    text-align: center;
    font-size: 16px;
    font-family: serif;
    margin-top: 25px;
}
.section-nav ul li a:hover
{
    color: #00a1d6;
}
.section-tu {
    width: 680px;
    height: auto;
}
#picBox{
    position: relative;
    width:680px;
    height: 214px;
    overflow: hidden;
    border-radius: 10px;
}
#picBox img
{
    width: 680px;
    height: 212px;   
    background-position:center;
}
#picBox .show{
    display: block;
}
.choice{
    position: absolute;
    bottom:5px;
    left:50%;
    margin-left: -50px;
}
.choice li{
    list-style: none;
    width:15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background:#fff;
    cursor: pointer;
    overflow: hidden;
}
.lun{
    /* 给这个样式加一个最高级 */
    background:orange !important;
}
.section-pai
{
    margin-right: 0px;
    z-index:10;

}
#section-pai {
    right: 15%;
    top: 20px;
    z-index: 10;
}
#txt
{
    width: 200px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
#btn
{
    height: 25px;
    width: 30px;
    border: 0 solid white;
    font-size: 12px;
    border-radius: 0 5px 5px 0;
    position: relative;
    right: 35px;
    cursor: pointer;
    outline: none;
}
.section-pai ul
{
    font-size: 20px;
}
.section-pai ul li
{
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
    cursor: pointer;
}

.bian
{
    color: #00a1d6;
    border-bottom: 2px solid #00a1d6;
}
.line
{
    width: 205px;
    height: 1px;
    background: #CCC;
    margin-top: -1px;
}
.lie
{
    margin-top: 10px;
}
.lie span
{
    list-style: none;
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    border-radius: 3px;
    background: #ccc;
    color: #fff;
    margin-right: 10px;
}
.lie p 
{
    margin-top: 15px;
    font-size: 12px;
    cursor:pointer;
}
    .lie p:hover {
        color:#00a1d6;
    }

    .lie p:nth-child(1) span,
    .lie p:nth-child(2) span,
    .lie p:nth-child(3) span {
        background: #FB7299 !important;
    }
.lie div {
    display: none;
}
.lie div:nth-child(1)
{
    display: block;
}
.lie-item
{
   background: #eee;
   margin-top: 20px;
   width: 220px;
   height: 20px;
   font-size: 12px;
   line-height: 20px;
   text-align: center;
   cursor:pointer;
}
.lie-item:hover
{
    color:#00a1d6;
}
.lie-up
{
    margin-top: 30px;
}
.lie-up-s
{
    margin-top: 20px;
    margin-bottom: 15px;
}
.lie-up-s p
{
    font-size: 12px;
    cursor: pointer;
}
.lie-up-s span
{
    border: 1px solid #00a1d6;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 30px;
}
.lie-up-s p:hover
{
    color: #00a1d6;
}
.lie-box
{
    font-size: 18px;
    margin-bottom: 10px;
}
.lie-box span
{
    font-size: 12px;
    border: 1px solid #ccc;
    background: #eee;
    margin-left: 30px;
}
.lie-up img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.lie-up dd
{
    margin-top: -55px;
    margin-left: 70px;
    width: 150px;
}
.news-item
{
    margin-top: 30px;
    width: 680px;
}
.news-item h4
{
    font-size: 18px;
    font-family: serif;

}
.news-item img
{
    width: 117px;
    height: 88px;
    float: right;
    margin-right: 10px;
}
.news-item-s
{
    margin-top: 20px;
}
.news-item-s1 {
    margin-top: 20px;
}
.news-item-s1 img
{
    width:100%
}
.news-item-s span
{
    font-size: 20px;
}
.news-item-s p
{
    margin-top: 10px;
    font-size: 12px;
}
.news-item-s p:hover
{
    color: #00a1d6;
}
.lines
{
    margin-top: 20px;
    width: 680px;
    height: 1px;
    background: #eee;
}
.btn1 {
    width: 100px;
    height: 35px;
    background: #00a1d6;
    color:#fff;
    border-radius:5px;
    border:none;
    outline:none;
    cursor:pointer;
    margin-left:55px;
    margin-top:20px;
}
.UsInfo img
{
    width:50px;
    height:50px;
    border-radius:50%;

}
.UsInfo span
{
    margin-left:10px;
    display:inline-block;
    vertical-align:top;
}
.content-commentbox {
    width: 100%;
    height: auto;
}

.commentbox-header {
    border-bottom: 1px solid #e5e9f0;
}

.content-commentbox h3 {
    font-weight: normal;
    margin: 20px 0;
}

.commentbox-send {
    margin: 10px 0;
}

    .commentbox-send img {
        margin-top: 10px;
        border-radius: 50%;
        border: 1px solid #e5e9f0;
        float: left;
        cursor: pointer;
    }

.commentbox-container {
    position: relative;
    margin-top: 5px;
    margin-left: 35px;
    display: inline-block;
    width: 80.7%;
}

.commentbox-text {
    font-size: 12px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #f4f5f7;
    border: 1px solid #e5e9ef;
    overflow: auto;
    border-radius: 4px;
    color: #555;
    width: 94% !important;
    height: 65px;
    transition: 0s;
    padding: 5px 10px;
    line-height: normal;
}

.commentbox-btn {
    width: 70px;
    height: 64px;
    position: absolute;
    right: -8%;
    top: 0;
    padding: 4px 15px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    min-width: 60px;
    vertical-align: top;
    cursor: pointer;
    background-color: #00a1d6;
    border: 1px solid #00a1d6;
    transition: 0.1s;
    user-select: none;
    outline: none;
}

    .commentbox-btn:hover {
        background-color: #00b5e5;
    }

.commentbox-header ul li {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
    color: black;
    padding: 15px 0;
}

.commentbox-active {
    color: #00b5e5 !important;
    border-bottom: 1px solid #00a1d6;
}

.commentbox-header ul li:hover {
    color: #00b5e5;
    border-bottom: 1px solid #00a1d6;
}

.commentbox-con {
    position: relative;
    margin-left: 85px;
    padding: 22px 0 14px 0;
    border-top: 1px solid #e5e9ef;
    border-bottom: 1px solid #e5e9ef;
}

.commentbox-listitem {
    box-sizing: content-box;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-style: normal;
}

.listitem-head {
    border-radius: 50%;
    border: 1px solid #e5e9ef;
    float: left;
    margin-top: 20px;
    overflow: hidden;
}

.commentbox-con .user a {
    color: #6d7579;
    font-size: 12.5px;
}

.commentbox-con p {
    margin: 10px 0;
    font-size: 14px;
}

.commentbox-con span {
    margin-right: 10px;
    font-size: 12px;
    color: #6d7579;
    transition: 0.3s all 0s linear;
}

.reply-item {
    margin-top: 10px;
}

.commentbox-con .reply,
.reply-item__reply {
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
}

.commentbox-con .spot {
    float: right;
    cursor: pointer;
}

.commentbox-con .like:hover,
.commentbox-con .unlike:hover,
.reply-item__like:hover,
.reply-item__unlike:hover {
    color: #00a1d6;
    cursor: pointer;
    transition: 0.3s all 0s linear;
}

.commentbox-con .reply:hover,
.reply-item__reply:hover {
    background: #e5e9f0;
    color: #00a1d6;
    transition: 0.3s all 0s linear;
}

.reply-head {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    vertical-align: top;
}

.commentbox-listitem .reply-item__user .name {
    color: #6d7579;
    font-size: 12px;
    line-height: 28px;
}

.commentbox-listitem .reply-item__user {
    display: inline-block;
}

.commentbox-listitem .reply-text {
    color: #212121;
    font-size: 14px;
    margin-left: 10px;
}

.reply-item__info {
    margin-left: 40px;
}

.commentbox-bottom {
    margin: 20px 0;
    font-size: 12px;
}

    .commentbox-bottom ul li {
        display: inline-block !important;
    }

.current {
    background-color: #00a1d6 !important;
    color: white !important;
}

.commentbox-bottom ul {
    display: inline-block;
}

    .commentbox-bottom ul li a,
    .commentbox-bottom ul li span {
        color: #222;
        cursor: pointer;
        text-align: center;
        border-radius: 4px;
        background-color: #fff;
        border: solid 1px #ddd;
        transition: 0.2s all;
        font-size: 14px;
        min-width: 15px;
        margin: 0 2px 0 2px;
        padding: 0 10px;
        display: inline-block;
        height: 36px;
        line-height: 36px;
        text-decoration: none;
    }

.tcd-active .prev,
.tcd-active .next {
    display: none !important;
}

.ellipse {
    background: none;
    border: none !important;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    cursor: default !important;
}

h2 span {
    font-weight: normal;
}

.tcd-active {
    display: none !important;
}

.btu-avtive {
    display: none !important;
}

.commentbox-bottom .tcd-num:hover,
.commentbox-bottom ul li a:hover,
.commentbox-bottom__active {
    background: #00b5e5;
    color: white;
    transition: 0.2s all;
}

.commentbox-bottom .jump {
    float: right;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    color: #6d7579;
}

    .commentbox-bottom .jump input {
        width: 40px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        margin: 0 2px;
        border: 1px solid #6d7579;
        border-radius: 3px;
        outline: none;
    }
/* 右边部分 */
.content-right {
    margin-left: 1%;
    max-width: 320px;
    min-width: 320px;
}

#upinfo img {
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #00a1d6;
}

#upinfo {
    width: 100%;
    padding-bottom: 5px;
}

    #upinfo a {
        background: #00a1d6;
        color: white;
        width: 150px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        display: inline-block;
    }

#content-right__recommend {
    width: 100%;
    height: auto;
    max-height: 700px;
    overflow: hidden;
    transition: 1s linear;
}

.content-right__recommendactive {
    max-height: 1170px !important;
    transition: 1s linear;
}

#content-right__recommend h4 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

#content-right__recommend .info {
    float: right;
    width: 169px;
    height: 80px;
    margin-left: 10px;
}

    #content-right__recommend .info a {
        color: #212121;
    }

#content-right__recommend .up {
    width: 169px;
    height: 16px;
    margin-bottom: 10px;
}

    #content-right__recommend .up a {
        color: gray;
        font-size: 12px;
    }

#content-right__recommend .title {
    width: 169px;
    max-height: 35px;
    overflow: hidden;
    font-size: 14px;
    display: inline-block;
}

#content-right__recommend .count {
    width: 169px;
    height: 16px;
    color: gray;
    font-size: 12px;
}

#content-right__recommend img {
    width: 141px;
    height: 80px;
    float: left;
}

#content-right__recommend .page-card {
    margin-bottom: 10px;
    display: inline-block;
}

.open {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 14px;
    color: #6d7579;
    background: #f4f5f7;
    line-height: 40px;
    cursor: pointer;
}

