/* 清空默认样式 */
html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  background: rgb(0, 0, 0, 0.01);
}

body {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #232323;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input,
textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  overflow: auto;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* 头部 */
/* 左侧logo */
#warp {
  width: 100%;
  min-height: 100%;
  background: #fafafa;
}
#warp * {
  box-sizing: inherit;
}
#header {
  height: 60px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 100px 0 32px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 5%);
  position: fixed;
  width: 100%;
  z-index: 999;
}
#header .left-block a {
  margin-left: 32px;
  font-size: 14px;
  color: #757575;
  cursor: pointer;
}
.left-block img {
  width: 110px;
}
/* 右侧用户登录信息 */
#header .right-block {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #757575;
}
.UserImg {
  position: relative;
}
.UserImg a.ImgT {
  margin-left: 40px;
  cursor: pointer;
}
.UserImg a img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #ccc;
  border: 1px solid#f4f4f4;
}
.right-block .UserRegitDay {
  background: rgba(250, 142, 87, 0.1);
  border: 1px solid rgba(250, 142, 87, 0.43);
  border-radius: 14px;
  padding: 5px 12px 5px 16px;
  font-size: 12px;
  color: #fa8e57;
  text-align: center;
  margin-left: 12px;
  margin-right: 32px;
  cursor: pointer;
}
/* 用户菜单 */
.UserImg .UserMuen {
  position: absolute;
  width: 144px;
  min-width: 144px;
  box-sizing: border-box;
  transform-origin: center top;
  padding-top: 7px;
  border: 1px solid #ebeef5;
  border-radius: 4px;
  color: #606266;
  line-height: 1.4;
  text-align: justify;
  font-size: 14px;
  box-shadow: 0 2px 12px 0 rgb(0, 0, 0, 0.1);
  word-break: break-all;
  left: -20px;
  margin-top: 18px;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 100;
  background-color: #fff;
}
.UserMuen::before {
  content: " ";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: 9px;
  left: 50% !important;
  top: -5px;
  transform: rotate(45deg);
  background: white;
  box-shadow: -1px -1px 1px rgb(0, 0, 0, 0.05);
  z-index: 1;
}
.UserImg .UserMuen a {
  height: 40px;
  display: flex;
  align-items: center;
  color: inherit;
  justify-content: center;
}
.UserImg .UserMuen a:hover {
  background: rgb(0, 0, 0, 0.05);
  z-index: 100;
}
.UserMuen a i {
  margin-right: 10px;
  margin-bottom: -2px;
  font-size: 16px;
}
.UserMuen a span {
  color: #212121;
}
/* 显示菜单 */
.UserImg:hover .UserMuen {
  visibility: visible;
}
/* 主体部分开始 */
#content {
  box-sizing: border-box;
  height: calc(100%);
}
/* 左侧菜单 */
#content .content_warp_nav {
  width: 200px;
  position: fixed;
  box-shadow: 0 1px 3px 0 #d6d6d6;
  border-right: 1px solid #f4f4f4;
  border-radius: 4px;
  padding: 8px 0;
  z-index: 100;
  height: calc(100% - 60px);
  top: 60px;
  left: 0;
  z-index: 10;
}
.content_warp_nav .nav_warp {
  width: 200px !important;
  height: 100%;
  padding-top: 20px;
}
.nav_warp .nav_data {
  position: relative;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}
.nav-content {
  box-sizing: border-box !important;
  position: relative;
  display: block;
  width: auto;
  height: 100%;
  visibility: visible;
  max-width: 100%;
  max-height: 100%;
}
/* 投稿按钮 */
.upload_btn {
  margin-top: 40px;
  width: 134px;
  margin-bottom: 17px;
  margin: 0 auto 20px;
}
.upload_btn a {
  box-sizing: inherit;
  border-radius: 3px;
  display: block;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  background: #00a1d6;
  text-align: center;
}
/* 选项 */
ul.nav-warp li {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #505050;
  cursor: pointer;
}
.bar_item_meun {
  color: #212121;
  height: 46px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.bar_item_meun span.box {
  padding-left: 32px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.bar_item_meun span i {
  margin-right: 20px;
  font-size: 20px;
}
.bar_item_meun span span {
  width: 90px;
  display: inline-block;
  position: relative;
  font-size: 14px;
}
.bar_item_meun:hover,
.item_group_item:hover {
  background: rgb(0, 0, 0, 0.05);
}
.bar_item:nth-child(1) .bar_item_meun {
  background: rgb(0, 0, 0, 0.05);
}
.bar_item_meun .box i[fa-angle-up] {
  color: silver !important;
}
.item_group {
  width: 114px;
  overflow: hidden;
}
/* 右侧投稿内容 */
#content .content_body {
  height: calc(100%);
  padding: 60px 0 50px 0;
  margin-left: 200px;
}
.upload_warp {
  width: inherit;
  margin-left: 72px;
  margin-right: 72px;
  margin-top: 16px;
  height: calc(100%);
}
/* 选择菜单 */
.new_link_top {
  position: relative;
}
.new_link_top .new_link_nav {
  background: #fff;
  height: 64px;
  display: flex;
  border-bottom: 1px solid #e7e7e7;
  position: relative;
}
.new_link_nav a {
  display: inline-block;
  padding-top: 26px;
  height: 100%;
  margin-left: 40px;
  font-size: 18px;
  color: #505050;
  border-bottom: 3px solid transparent;
  letter-spacing: 0.5px;
  line-height: 20px;
}
.active {
  font-weight: bolder;
  color: #00a1d6 !important;
  border-bottom: 3px solid #00a1d6 !important;
}
/* 内容管理 */
#nav_search {
  width: 250px;
  height: 35px;
  margin: 20px 0 0 400px;
  padding: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  color: #505050;
  overflow: hidden;
}
#nav_img {
  width: 32px;
  height: 32px;
  margin-left: -40px;
}
.load_from {
  width: 100%;
  height: 0 auto;
  /* border: 1px solid #000; */
}
.upload_con {
  width: 100%;
  height: 0 auto;
  padding: 15px;
  /* border: 1px solid red; */
  overflow: hidden;
}
.upload_con div,
.con_one_tong div,
.con_one_zhuan div {
  display: none;
}
.l_default,
.o_default {
  display: block !important;
}
.one_active,
.two_active {
  color: #00a1d6 !important;
}
/* 内容主题 */
.con_one ul li,
.con_two ul li {
  display: inline-block;
  margin: 10px 15px 5px 15px;
  cursor: pointer;
}
.con_one ul li span,
.con_two ul li span {
  margin-left: 3px;
}
#con_one_right_y,
#con_one_right_e {
  display: inline-block;
  float: right;
  width: 0 auto;
  height: 25px;
  padding: 3px 10px;
  border-radius: 5px;
  margin: 10px 15px 5px 0;
  outline: none;
}
p {
  width: 100%;
  height: 0 auto;
  margin-top: 15px;
  /* border: 1px solid green; */
}
.con_one_tong,
.con_one_zhuan {
  width: 95%;
  height: 0 auto;
  margin: 0px 0px 20px 25px;
  /* background: greenyellow; */
}
.one_one table,
.one_two table,
.one_three table,
.one_four table,
.zhuan_one table,
.zhuan_two table,
.zhuan_three table,
.zhuan_four table {
  margin: 15px 0;
}
.one_one span,
.one_two span,
.one_three span,
.one_four span,
.zhuan_one span,
.zhuan_two span,
.zhuan_three span,
.zhuan_four span {
  width: 100%;
  height: 2px;
  color: #ccc;
}
.con_one_tong b {
  font-size: 18px;
}
.one_one img,
.one_two img,
.one_three img,
.one_four img,
.zhuan_one img,
.zhuan_two img,
.zhuan_three img,
.zhuan_four img {
  width: 120px;
  height: 80px;
  line-height: 80px;
  border-radius: 5px;
  margin-right: 30px;
}
.one_right {
  float: right;
  line-height: 85px;
  margin: 0 10px;
  color: #606266;
}
.one_right:hover {
  color: #00a1d6;
}
